<!DOCTYPE html>
<html lang="en">
  <head>
        <% include ./partials/head %>
  </head>

  <body>

    <% include ./partials/header %>

    <div class="container">

        <div class="dc-header">
                <h1 ><%= data.courseName %></h1>
        </div>


        <% data.chapters.forEach(function(chapter , i) { %>
          <div >
            <h3 ><%= i + 1 %>-<%= chapter.name %></h3>
            <ol class="dc-exercise">
            <% chapter.exercises.forEach(function(exercise) { %>
                <li><a href= <%= exercise.link %> target="_blank" ><%= exercise.name %></a></li>
            <% }); %>
          </ol>

          </div>
        <% }); %>

    </div><!-- /.container -->

  </body>
</html>
