<!DOCTYPE html>
<html lang="en">
  <head>
        <% include ./partials/head %>
  </head>

  <body>

    <% include ./partials/header %>

    <div class="container">

        <div class="dc-header">
                <!-- Old value of substring was  substring(0 , data.trackName.length - 17) -->
                <h1 class=""><%= data.trackName.substring(0 , data.trackName.length) %></h1>
        </div>


        <% data.courses.forEach(function(course , i) { %>
          <div class="">
            <h3 class=""><a href= <%= course.link %> ><%= i + 1 %>-<%= course.name %></a></h3>
          </div>
        <% }); %>

    </div><!-- /.container -->

  </body>
</html>
