<!DOCTYPE html>
<html lang="en">
  <head>
        <% include ./partials/head %>
  </head>

  <body>

    <% include ./partials/header %>

    <div class="container">

        <div class="dc-header">
                <h1 class="">Datacamp Courses</h1>
        </div>


        <% for(var i=0; i < data.length; i++) { %>
            <div class="">
                <h3 class=""><a href= <%= data[i].link %> ><%= i + 1 %>-<%= data[i].name %></a></h3>
            </div>
         <% } %>

    </div><!-- /.container -->

  </body>
</html>
