<!DOCTYPE html>
<html lang="en">
  <head>
        <% include ./partials/head %>
  </head>

  <body>


    <% include ./partials/header %>

    <div class="container">

        <div class="dc-header">
                <h1 class="">Datacamp Tracks</h1>
                <p class="">Skill tracks guide you to proficiency in a specific technology, methodology or domain. Become an expert in R/Python programming, Machine Learning, Statistical Modeling and more.</p>
        </div>


        <% for(var i=0; i < data.length; i++) { %>
            <div class="">
                <h3 class=""><a href= <%= data[i].link %> ><%= i + 1 %>-<%= data[i].name.substring(0 , data[i].name.length - 17) %></a></h3>
            </div>
         <% } %>

    </div><!-- /.container -->

  </body>
</html>
