.hljs-boolean {
  font-weight: bold;
  color: #3844FF;
}

.hljs-string {
  color: #FF2B1B;
}

.hljs-number {
  color: #2A9A0B;
}

.hljs-comment {
  color: #5C5C5C;
}

.hljs-input, 
.hljs-output {
  color: black; 
}

.hljs-error {
  color: #DA2214;
}