body {
  -webkit-font-smoothing: subpixel-antialiased;
}

.reveal {
  font-size: 100%;
  display: none;
  /* IE11 margin auto bug fix */
  text-align: center;
}

.reveal .controls {
  text-align: start;
}

.video__wrapper {
}

.reveal .slides {
  font-family: "karmina-sans", sans-serif;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  font-size: 1em;
}

.reveal .slides .slide__datacamp-header {
  position: relative;
  background-color: rgb(59,170,202);
  color: white;
  height: 8%;
  width: 100%;
  padding: 0.75%;
  box-sizing:border-box;
}

.reveal .slides span {
  font-weight: lighter;
}

.reveal .slides .slide__header-logo {
  float: left;
  /* IE11 logo size bug fix */
  height: 100%;
}

.reveal .slides img.slide__header-logo {
  margin: 0px;
}

.reveal .slides .slide__datacamp-text {
  float: left;
  margin: 0.50%;
  font-size: 2em;
}

.reveal .slides .slide__course-title {
  float:right;
  margin: 0.50%;
  font-size: 2em;
}

.reveal .slides .slide__container {
  height: 100% !important;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
}

.reveal .slides .full_image_slide .slide__content-container{
  height: 92% !important;
  width: 100% !important;
  top: 8%;
}

.reveal .slides .slide__title {
  position:absolute;
  width: 100%;
  height: 12%;
  top: 8%;
  padding: 1.5%;
  box-sizing:border-box;
  text-align: left;
  font-size: 4em;
}

.reveal .slides .hide__title {
  display: none;
}

.reveal .slides .slide__content-container {
  position:absolute;
  top: calc(8% + 12%);
  height: calc(88% - 8%);
  width: 80%;
}

.reveal .slides .slide__first-slide-logo {
  background-image: url('../images/first_slide_logo.png');
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 10%;
  top: 2%;
  left: 44.5%;
}


.reveal .slides .slide__first-slide-course {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  font-size: 3em;
  font-weight: lighter;
  font-variant: small-caps;
  text-transform: lowercase;
}

.reveal .slides .slide__first-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: 60% 105%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding: 25% 45% 20% 5%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 4.5em;
  left: 20%;
  top: 8%;
}

.reveal .slides .slide__content-container-citations {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1%;
  font-size: 1.5em;
  text-align: left;
  padding-left: 15px;
  background-color: #FAFEFF;
  box-shadow: 0 0 1em grey;
  -webkit-box-shadow: 0 0 1em grey;
  -moz-box-shadow: 0 0 1em grey;
  -ms-box-shadow: 0 0 1em grey;
}

.reveal .slides .slide__lower-third-wrapper {
  position: absolute;
  top: 75%;
  left: 2%;
  text-align: right;
  padding: 1%;
  border-radius: 0.5%;
  background-color: #FAFEFF;
  box-shadow: 0 0 1em grey;
  -webkit-box-shadow: 0 0 1em grey;
  -moz-box-shadow: 0 0 1em grey;
  -ms-box-shadow: 0 0 1em grey;
  padding-left: 8%;
  left: -5%;
}

.reveal .slides .fragment.slide__lower-third-wrapper.current-fragment {
  animation: slide-in 0.75s;
  -webkit-animation: slide-in 0.75s;
  -moz-animation: slide-in 0.75s;
}

.reveal .slides :not(code):not(pre).fragment.current-fragment, .reveal .slides .slide__container.present {
  animation: appear 1s;
  -webkit-animation: appear 1s;
  -moz-animation: appear 1s;
}

.reveal .slides .slide__lower-third-name {
  color: #67ADCC;
  font-size: 3em;
}

.reveal .slides .slide__lower-third-title {
  color: #7A7A7A;
  font-size: 2.5em;
}

@keyframes slide-in {
  0% {
    left: -20%;
  }
  100% {
    left: -5%;
  }
}

@-webkit-keyframes slide-in {
  0% {
    left: -20%;
  }
  100% {
    left: -5%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reveal .slides .slide__part {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1.5%;
  margin: 0px;
  width: 100%;
  height: 100%;
  float: left;
  font-size: 2.5em;
  line-height: 2em;
}

.reveal .slides .slide__part img {
  display: block;
  margin: 0 auto;
}

.reveal .slides .slide__part.full-img {
  padding: 1.5%;
  width: 80%;
}

.reveal .slides .slide__part.full-img p {
  height: inherit;
  margin: 0;
}

.reveal .slides .slide__part.full-img img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.reveal .slides .slide__part.col-1 {
  width: 100%;
}

.reveal .slides .slide__part.col-2 {
  width: 50%;
}

.reveal .slides .slide__part.row-1 {
  height: 100%;
}

.reveal .slides .slide__part.row-1 img {
  max-height: 15em;
}

.reveal .slides .slide__part.row-2 {
  height: 50%;
}

.reveal .slides .slide__part.row-2 img {
  max-height: 7.5em;
}

.reveal .slides > section {
  height: 100%;
  padding: 0px;
}

.reveal .slides pre {
  font: 0.8em monospace;
  font-family: monospace, monospace;
  margin: 0px !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  background-color: rgb(234, 244, 247);
  border-left: 0.2em solid rgb(66, 170, 210);
  position: relative;
  display: inline-block;
/*
  This breaks in mobile
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
*/
  word-wrap: break-word;
}

.reveal .slides pre code {
  max-height: none;
  padding: 0.5em;
}

.reveal .slides img {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  margin: 5% 0;
}

.reveal .slides table {
  margin: 0;
  border: 0.05em solid rgb(44, 133, 161);
  font-size: 0.8em;
}

.reveal .slides th {
  border: 0.05em solid rgb(44, 133, 161);
  background-color: rgb(201, 232, 240);
  font-weight: normal;
  text-align: center;
}

.reveal .slides td {
  border: 0.05em solid rgb(44, 133, 161);
  padding: 0.2em 2em;
  text-align: center;
}

.reveal .slides tr {
  line-height: 1.8em;
}

.reveal .slides p {
  margin: 1em 0px;
}

.reveal .slides li {
  margin-left: 1.2em;
}

.reveal .slides ul {
  width: 100%;
}

.reveal .slides ul ul,
.reveal .slides ul ol,
.reveal .slides ol ol,
.reveal .slides ol ul {
  margin-left: 1em;
}

.reveal .slides em {
  font-style: italic;
}

.reveal .slides strong {
  font-weight: bold;
}

.reveal .slides h1, .reveal .slides h2, .reveal .slides h3, .reveal .slides h4 {
  font-weight: bold;
}

.reveal .slides h1 {
  font-size: 2em;
}

.reveal .slides h2 {
  font-size: 1.5em;
}

.reveal .slides h3 {
  font-size: 1.25em;
}

.reveal .slides h4 {
  font-size: 1.125em;
}

.reveal .slides code {
  font-family: monospace, monospace;
  font-size: 0.9em;
}

.video-player {
  /* IE11 margin auto bug fix */
  text-align: center;
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video-player .container[data-container] {
  background-color: transparent;
}

.video-player .player-poster[data-poster] {
  background-color: transparent;
}

.video-player [data-player] {
  height: 100% !important;
  width: 100%  !important;
}

.video-js video.vjs-tech, .video-js object.vjs-tech {
  left: auto;
  top: auto;
  right: 0em;
  bottom: 0em;
  background-color: white;
}

.vjs-control-bar {
  z-index: 1;
  font-size: 10px;
  background-color: rgb(25, 90, 114) !important;
}

.vjs-slider {
  background-color: rgb(10, 37, 47) !important
}

.vjs-play-progress {
  background-color: rgb(51, 170, 204) !important;
}

.vjs-play-progress::before {
  color: rgb(51, 170, 204) !important;
}

.vjs-volume-level {
  background-color: rgb(51, 170, 204) !important;
}

.vjs-volume-level::before {
  color: rgb(51, 170, 204) !important;
}

.vjs-download-control .vjs-icon-placeholder::before {
  cursor: pointer;
  font-family: FontAwesome;
  content: '\f019';
}
.vjs-playback-bitrate .vjs-menu {
  width: 4em;
  left: 0;
}

.vjs-playback-bitrate .vjs-playback-bitrate-value {
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}


.vjs-poster {
  z-index: 1;
}

.vjs-captions-button {
  display: none;
}

.vjs-text-track-display {
  z-index: 10;
}

/* Hide the captions settings item from the captions menu. */
.vjs-texttrack-settings {
  display: none;
}

.vjs-poster {
  background-color: white !important;
}

.video-player.video-js .vjs-big-play-button {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: transparent;
    height: 74px;
    width: 74px;
    border-radius: 50%;
    background-image: url('../images/play-yellow@2x.png');
    background-size: 74px 74px;
    border: 0;
    transition: all 150ms ease;

  }

  .video-player.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
    content: ''
  }

  .video-player.video-js .vjs-big-play-button:before {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
    height: auto;
    font-size: 2em;
  }

  .video-player.video-js .vjs-big-play-button:hover {
    width: 84px;
    height: 84px;
    background-size: 84px 84px;
  }

.video-player.video-js {
  font-size: 1em;
  background-color: white;
  /* IE11 sizing bug fix */
  width: 100%;
  height: 100%;
}

.player-poster[data-poster] .play-wrapper[data-poster] svg path {
  fill: rgb(200, 200, 200) !important;
}

.video__mask-top {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.video__mask-right {
  background-color: white;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}


.video__mask-bottom {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.video__mask-left {
  background-color: white;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.reveal .slides .katex {
  font: 400 1.0em KaTeX_Main,Times New Roman,serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 1.0em;
  line-height: 1.2;
  font-family: KaTeX_Main, "Times New Roman", serif;
  line-height: 1.2;
  white-space: nowrap;
  text-indent: 0;
}

.reveal .navigate-up, .reveal .navigate-down {
  display: none;
}

.global-spinner {
  text-align: center;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: white;
}

.global-spinner object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%);
}
