a{
    display: block;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.dc-header{
    padding-bottom: 20px;
}

.navbar {
    border-radius: 0px;
}


.container{
    padding-bottom: 50px;
}

.dc-exercise > li , .dc-exercise > a{
    font-size: 18px;
}