<nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="/skill_tracks">Skill Tracks</a>
        <a class="navbar-brand" href="/career_tracks">Career Tracks</a>
        <a class="navbar-brand" href="/all_courses">Courses</a>
</nav>